*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'kumb sans',sans-serif;
    scroll-behavior: smooth;
}
.navbar{
    background-color:orangered;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.nav__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    
}
#navbar__logo{
    background-color: #f3f5f1;
    background-image: -o-linear-gradient(to top,#ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}
.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar__item{
    height: 80px;
}
.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background:#ff8177;
    color:blue;
    transition:all0.3 sec;
}
.navbar__links:hover{
    color: blue;
    transition: all 0.3s ease;
}
@media screen and(max-width: 960px){
navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
}
.navbar__menu{
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    /*top: -1000;*/
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    background-color: #131313;
}
.navbar__menu.active{
    background-color: #131313;
    top:100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;

}
#navbar__log{
    padding: 25px;
}
.navbar__toggle.bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3 ease-in-out;
    background: blanchedalmond;
}
.navbar__item{
    width: 100px;
}
.navbar__links{
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
}
.navbar__btn{
    padding-bottom: 2rem;
}
.button{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 80px;
 height: 80px;
 margin: 0;   
}
#mobile_menu{
    position: absolute;
    top: 20px;
    right: 5%;
    transform: translate(5%,20%);
}


}

.wrapper{
    margin: 0px auto;
    width: 100%;
}

.footer {
    position: initial;
    font:80% bold Verdana, Geneva, sans-serif ;
    clear: both;
    padding: 1rem;
    width: 100%;
    background-color: rgb(2, 2, 17);
    text-align: center;
    
  }
  .footer h1 {
    color: #f4f4f4;
    font-size: 1.5rem;
  }
  .fa {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem;
    color: #f4f4f4;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  .fa .Follow {
    text-align: left;
    margin-bottom: 1rem;
  }
  .fa-twitter {
    color: #007bb5;
    margin-right: 1rem;
  }
 
  
   .fa-facebook {
    background: #007bb5;
    margin-right: 1rem;
  } 
  .fa-instagram {
    background-color: #007bb5;
    margin-left: 1rem;
  }
  
  
  .fa:hover {
      opacity: 0.7;
  }
  .footer2 {
    border-top: 1px solid rgb(255, 253, 253);
    padding-top: 1%;
    display: flex;
    justify-content: space-around;
  }
  .footer2 .white {
    color: rgb(253, 253, 253);
  }
  .header{
      margin-top: -10px;
      color: whitesmoke;
      position: absolute;
      top:50%;
      width:100%;
      text-align: center;
      font-size: 50px;
      

  }


 
 .wrapper a{
     border-radius: 25px;    
     font-size: 1rem;
     background: orangered;
     padding: 10px 20px;
     text-decoration: none;
     color: white;
     margin-top: 10px;
     text-transform: uppercase;
     letter-spacing: 2px;
     transition: 0.2s ease;
     position: absolute;
     top: 90%;
     left: 50%;
 }
 .wrapper a:hover{
     letter-spacing: 6px;
     color: turquoise;

 }
 .section{
    background-color:whitesmoke;
     text-align: center;
     color: black;
     margin-left: rem;
     background: cover;
 }
 .first-logo{
     display: flex;
     justify-content: space-around;
 }
 .logo-2nd{

   display: flex;  
   justify-content: space-around;
 }
 .find{
     margin-top: 350px;
 }
 .find > a{

    text-indent: 10px;
    font-size: xx-large;
    margin-top: 20px;
 }

 
.heading{
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;


}
.popular{
    color:orangered;

}
.brands{
    color: orange;

}
.logo-3{
    display: flex;
    justify-content: space-around;
}


    
