
.container{
    
    overflow: hidden;
    padding: 10px;
    height:auto; width: auto  
}

h1 {
    color: #EA4319;
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;}
 
#para1{

    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    height: 230px; width: 530PX;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600px;
    color:white;
    background: rgba(0, 0, 0, 0.5);

  }

  ul { display: flex;
    align-items: baseline;}

  #ap {
    padding-bottom: 20px;
  }
  #ul1 {
    display: block;
  }


body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
}

#a {display: inline;
    padding-bottom: 25px;
    padding-left: 30px;
    float: right;
   }

#b {display: inline;
    padding-bottom: 20px;
    padding-left: 30px;
    float: right;
   }
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}



/*silver css*/

.navbar{
  background-color:orangered;
  height:80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
.nav__container{
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
  
}
#navbar__logo{
  background-color: #f3f5f1;
  background-image: -o-linear-gradient(to top,#ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color:transparent;
  -moz-text-fill-color:transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}
.navbar__menu{
  display: flex;
  align-items: center;
  list-style: none;
}
.navbar__item{
  height: 80px;
}
.navbar__links{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background:#ff8177;
  color:blue;
  transition:all0.3 sec;
}
.navbar__links:hover{
  color: blue;
  transition: all 0.3s ease;
}
.navbar__menu.active{
  background-color: #131313;
  top:100%;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 99;
  height: 60vh;
  font-size: 1.6rem;

}
#navbar__log{
  padding: 25px;
}
.navbar__toggle.bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3 ease-in-out;
  background: blanchedalmond;
}
.navbar__item{
  width: 100px;
}
.navbar__links{
  text-align: center;
  padding: 2rem;
  width: 100%;
  display: table;
}
.navbar__btn{
  padding-bottom: 2rem;
}
.button{
display: flex;
justify-content: center;
align-items: center;
width: 80px;
height: 80px;
margin: 0;   
}


.wrapper{
  margin: 0px auto;
  width: 100%;
}
.wrapper video{
  width: 100%;
  height: 100%;
  background-size: cover;
  /* color: #2d7292; */

}

.footer {
  position: relative;
  font:80% bold Verdana, Geneva, sans-serif ;
  clear: both;
  height: 20%;
  width: 100%;
  background-color: rgb(2, 2, 17);
  text-align: center;
margin-top: 20%;

}
.footer h1 {
  color: #f4f4f4;
  font-size: 1.5rem;
}
.fa {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 1rem;
  color: #f4f4f4;
  transition: all 0.3s ease;
  overflow: hidden;
}
.fa .Follow {
  text-align: left;
  margin-bottom: 1rem;
}
.fa-twitter {
  color: #007bb5;
  margin-right: 1rem;
}
 .fa-facebook {
  background: #007bb5;
  margin-right: 1rem;
} 
.fa-instagram {
  background-color: #007bb5;
  margin-right: 1rem;
}
/* .fa-github {
  background-color: rgb(2, 0, 8);
  color: #ffffff; */

.fa:hover {
    opacity: 0.7;
}
.footer2 {
  border-top: 1px solid rgb(255, 253, 253);
 
}
.footer2 .white {
  color: rgb(253, 253, 253);
}
.header{
    color:#fff;
    position: absolute;
    top:50%;
    width:100%;
    text-align: center;
    font-size: 50px;

}


.wrapper a{
   border-radius: 25px;    
   font-size: 1rem;
   background: orangered;
   padding: 10px 20px;
   text-decoration: none;
   color: white;
   margin-top: 10px;
   text-transform: uppercase;
   letter-spacing: 2px;
   transition: 0.2s ease;
   position: absolute;
   top: 90%;
   left: 50%;
}
.wrapper a:hover{
   letter-spacing: 6px;
   color: turquoise;

}

#allfooter { margin-bottom: 0% !important;
padding-bottom: 0%;}


