.container{
    background-color: #EA4319;
    overflow: hidden;
    padding: 10px;
    height:auto; width: auto
  }
h1 { text-align: center;
  padding: 20px;


}
  #para1{

    text-align: justify;
    padding-right: 10px;
    padding-top: 10px;
    height: 400px; width: 800PX;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600px;
    color: white;
  }

  .car {
    display: flex;
    height: 400px;
    padding-top: 0px;

  }

  ul { display: flex;
  align-items: baseline;}

  #ap {
    padding-bottom: 20px;
  }
  #ul1 {display: block;}

  